{% extends layout %}

{% block content %}
	<div class="clearfix">
		<a class="btn btn-default pull-right" href="{{ path('devture_user.add') }}">
			<i class="glyphicon glyphicon-plus"></i>
			{{ "devture_user.add_new"|trans }}
		</a>
	</div>

	<div class="top-spaced-minor"></div>

	{% include "DevtureUserBundle/list.html.twig" with {'items': items} %}
{% endblock %}
