{% extends layout %}

{% block content %}
	<div class="text-center">
		{{ "devture_user.logged_out_successfully"|trans }}
	</div>

	{% if app['devture_user.browser_id.enabled'] %}
		<script src="https://login.persona.org/include.js"></script>
	{% endif %}
{% endblock %}

{% block js %}
	{{ parent() }}

	{% if app['devture_user.browser_id.enabled'] %}
		navigator.id.logout();
	{% endif %}
{% endblock %}